@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.lightbox-gallery {
  &__image-wrapper {
    &--ratio-4-3 {
      @include aspect-ratio(4, 3);
    }

    &--ratio-2-3 {
      @include aspect-ratio(2, 3);
    }

    & > .content {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__image-container {
    &--half {
      width: 50%;
      display: inline-block;
    }
  }
}
