@import "~bootstrap/scss/mixins/breakpoints";
@import '../../shared/scss/variables.scss';
@import '../../shared/scss/mixins.scss';

.login-page {
  background: url('../../shared/assets/images/banner.jpg') no-repeat center top;
  display: flex;
  height: calc(100vh - 60px);
  background-size: cover;

  &__social-block {
    background: rgba(232, 232, 232, 0.44);
    padding: 20px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    &#{&} {
      max-width: 320px;
    }
  }

  .btn {
    &.fb {
      background: $green;
      width: 260px;
      color: $white;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__social-block-title {
    margin-bottom: 20px;
  }
}
