@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("fonts/Roboto-Regular-webfont.eot?") format("eot"), url("fonts/Roboto-Regular-webfont.woff2") format("woff2"), url("fonts/Roboto-Regular-webfont.woff") format("woff"), url("fonts/Roboto-Regular-webfont.ttf") format("truetype"), url('fonts/Roboto-Regular-webfont.svg#str-replace(Roboto, " ", "_")') format("svg"); }

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("fonts/Roboto-Light-webfont.eot?") format("eot"), url("fonts/Roboto-Light-webfont.woff2") format("woff2"), url("fonts/Roboto-Light-webfont.woff") format("woff"), url("fonts/Roboto-Light-webfont.ttf") format("truetype"), url('fonts/Roboto-Light-webfont.svg#str-replace(Roboto, " ", "_")') format("svg"); }

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("fonts/Roboto-Thin-webfont.eot?") format("eot"), url("fonts/Roboto-Thin-webfont.woff2") format("woff2"), url("fonts/Roboto-Thin-webfont.woff") format("woff"), url("fonts/Roboto-Thin-webfont.ttf") format("truetype"), url('fonts/Roboto-Thin-webfont.svg#str-replace(Roboto, " ", "_")') format("svg"); }

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("fonts/Roboto-Bold-webfont.eot?") format("eot"), url("fonts/Roboto-Bold-webfont.woff2") format("woff2"), url("fonts/Roboto-Bold-webfont.woff") format("woff"), url("fonts/Roboto-Bold-webfont.ttf") format("truetype"), url('fonts/Roboto-Bold-webfont.svg#str-replace(Roboto, " ", "_")') format("svg"); }
