/* Colors */

$green: #398228;
$light-green: #40942d;
$white: #ffffff;
$yellow: #dfaa45;
$blue: #295f90;
$light-grey: #e9f0f2;
$dark-text: #333333;
$dark-grey: #c1c1c1;
$grey: #e6e6e6;
$grey-back: #edefef;

$transparent-white: rgba(255, 255, 255, 0.7);

/* Grid Breakpoints */

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
