@import '../../shared/scss/variables.scss';
@import '../../shared/scss/mixins.scss';

.feed-page {
  &__background {
    background: $grey-back;
  }

  &__post-placeholder {
    width: 100%;
    height: 400px;
    background: $grey;
    display: flex;
    justify-content: center;
    align-items: center;

    @include font-size(20px);
  }
  &__post {
      &-wrapper {
      background: $white;
      border: 1px solid $light-grey;
      padding: 15px;
      margin-bottom: 20px;

      &-user {
        display: flex;
        margin-bottom: 10px;
        &-image {
          margin-right: 20px;
          img {
            display: inline-block;
            width: 65px;
            height: 65px;
            border-radius: 50%;
          }
        }
        &-info {
          display: flex;
          flex-direction: column;
          &-name {
            color: #063134;
            font-size: 16px;
            padding-top: 10px;
          }
          &-created {
            font-size: 12px;
            color: #959595;
          }
        }
      }

      &-content {
        &-images {
          margin-bottom: 10px;
          &-container {
            .big-img-container {
              border: 1px solid #ededed;
              img {
                max-width: 100%;
              }
            }

            .flex-wrapper {
              display: flex;
              .small-img-container {
                border: 1px solid #ededed;
                background: white;
                width: calc(100% / 3);
                img {
                  max-width: 100%;
                }
              }
            }
          }
        }
        &-text {
          font-size: 0.9rem;
          margin-bottom: 10px;
          &-read-more {
            text-decoration: underline;
            color: #5093ec;
            cursor: pointer;
            padding: 0 5px;
            text-decoration: none;
          }
        }
        &-social {
          display: flex;
          color: #9b9b9b;
          font-size: 12px;
          text-decoration: none;
          cursor: pointer;
          a {
            color: #9b9b9b;
          }
          &-icon {
            margin-left: 5px;
            margin-bottom: 2px;
          }
          &-text {
            margin: 0 3px;
          }
        }
      }
    }
  }
  &__pagination {
    display: flex;
    color: #9b9b9b;
    text-decoration: none;
    &-item {
      margin: 0 5px;
      cursor: pointer;
      color: #418229;
      &.disabled {
        cursor: no-drop;
        color: #bdbaba;
      }

      &:focus {
        color: #418229;
      }
    }

    &-number {
      margin: 0 5px;
      color: #252046;
    }

    &-icon {
      margin-bottom: 4px;
      font-size: 1.4rem;
    }
  }
}
