@import '../../shared/scss/variables.scss';
@import '../../shared/scss/mixins.scss';
.post-page {
  &__background {
    background: $grey-back;
    padding: 20px;
    min-height: 100vh;
  }

  &__post-wrapper {
    background: $white;
    border: 1px solid $light-grey;
    padding: 15px;
  }

  &__comment-header {
    padding: 20px 25px 10px;
    color: #398228;
  }

  &__user {
    display: flex;
    margin-bottom: 10px;
    &-image {
      margin-right: 20px;
      img {
        display: inline-block;
        width: 65px;
        height: 65px;
        border-radius: 50%;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      &-name {
        color: #063134;
        font-size: 16px;
        padding-top: 10px;
      }
      &-created {
        font-size: 12px;
        color: #959595;
      }
    }
  }

  &__content {
    &-images {
      margin-bottom: 10px;
      img {
        max-width: 100%;
      }

      .big-img-container {
        border: 1px solid #ededed;
        img {
          max-width: 100%;
        }
      }

      .flex-wrapper {
        display: flex;
        .small-img-container {
          border: 1px solid #ededed;
          background: white;
          width: calc(100% / 3);
          img {
            max-width: 100%;
          }
        }
      }
    }

    &-text {
      font-size: 0.9rem;
      margin-bottom: 10px;
      &-read-more {
        text-decoration: underline;
        color: #5093ec;
        cursor: pointer;
        display: block;
      }
    }
  }

  &__social {
    display: flex;
    color: #9b9b9b;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    &.unauthorized {
      cursor: no-drop;
    }

    &-icon {
      margin-left: 5px;
      margin-bottom: 2px;
    }

    &-text {
      margin: 0 3px;
    }
  }

  &__comments {
    background: #f6f7f9;
    .comment {
      padding: 8px 25px;
      border-top: 1px solid #edefef;
      &__user {
        display: flex;
        margin-bottom: 10px;
        &-image {
          margin-right: 10px;
          img {
            display: inline-block;
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }
        }

        &-info {
          display: flex;
          flex-direction: column;
        }

        &-name {
          color: #063134;
          font-size: 12px;
          padding-top: 3px;
        }
      }

      &__created {
        font-size: 12px;
        color: #959595;
      }

      &__content {
        &-text {
          margin-bottom: 0;
          color: #464242;
          font-size: 12px;
          border-bottom: 1px solid #caccd0;
          padding-bottom: 12px;
        }
      }

      &:last-child {
        .comment__content {
          &-text {
            border-bottom: none;
          }
        }
      }
    }

    .add-comment {
      padding: 8px 25px;
      .form-group {
        display: flex;
        justify-content: flex-end;
      }

      &__submit {
        background: #398228;
        color: #ffffff;
      }
    }
  }
}
