@import '../../../../shared/scss/variables.scss';
@import '../../../../shared/scss/mixins.scss';

.add-post-form {
  background: $white;
  border: 1px solid $light-grey;
  padding: 15px;
  margin-bottom: 20px;

  &__textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 0;
    border: 1px solid $dark-grey;
  }

  &__formgroup {
    margin-bottom: 0;

    &--controls {
      display: flex;
      justify-content: space-between;
      padding-top: 8px;
    }
  }

  &__checkbox {
    @include font-size(13px);
  }

  &__submit, &__submit:hover, &__submit:focus {
    background: $green;
    color: $white;
    margin-left: 10px;
  }

  &__upload-icon {
    color: $green;
    @include font-size(24px);
  }
}
